<link href="~/Content/custom/my-account.css" rel="stylesheet" />
<script src="https://js.stripe.com/v3/"></script>
<script src="~/Scripts/custom/stripe_custom.js"></script>

<section class="subsription mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h5 class="box-title">
                    Your Subscription
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mt-2">
                @if (ViewBag.CurrentPlan.Count > 0)
                {
                    <div class="subscription-box">
                        <h2 class="plan-title mt-2">@ViewBag.CurrentPlan[0].PlanName</h2>
                        <p class="plan-description">You are current subscribed to the starter plan with @ViewBag.CurrentPlan[0].PlanType billing.</p>
                        <button type="button" class="btn btn-dark btn-upgrade">Upgrade</button>
                    </div>
                }
                else
                {
                    <div class="subscription-box">
                        <h2 class="plan-title mt-2">No Plan Selected</h2>
                        <p class="plan-description">You are currently not subscribed to any plan </p>
                        <button type="button" class="btn btn-dark btn-upgrade">Upgrade</button>
                    </div>
                }
            </div>

            <div class="col-lg-8 mt-2">
                <div class="subscription-details">
                    <div class="card">
                        <h5 class="card-header">Details</h5>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th scope="row">Next Bill Date</th>
                                        @if (ViewBag.CurrentPlan.Count > 0)
                                        {
                                            <td>@ViewBag.CurrentPlan[0].NextBillDate</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    </tr>
                                    <tr>
                                        <th scope="row">Next Bill Amount</th>
                                        @if (ViewBag.CurrentPlan.Count > 0)
                                        {
                                            <td><b>$@ViewBag.CurrentPlan[0].BillAmount</b> / @ViewBag.CurrentPlan[0].PlanType</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                            @if (ViewBag.CurrentPlan.Count > 0)
                            {
                                <button type="button" class="btn btn-dark btn-upgrade">Cancel My Subscription</button>
                            }
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h5 class="box-title">
                    Payment Method
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 pt-1">
                <div class="card text-center">
                    <div class="card-header card-cstm-title">
                        <i class="fa fa-credit-card" aria-hidden="true"></i> &nbsp; Credit Card
                    </div>
                    <div class="row justify-content-center add-card-section">
                        <div class="col-lg-2 col-sm-4" id="displayCards">
                            <div class="demo">
                                <h6 class="add-card-details mb-0 " data-toggle="modal" data-target="#exampleModalScrollable"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp;Click To Add</h6>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut temporibus velit reprehenderit explicabo ratione recusandae eligendi, illo odio nemo cupiditate excepturi voluptas quisquam eos incidunt, fugit accusantium, consequuntur mollitia! Expedita.
                            <br>
                            <label class="rememberme mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" name="remember" value="1">
                                <span></span>
                            </label> I Agree
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="modal credit-card-detail-model fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Payment Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="payment-form">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Card Owner Name</label>
                                        <input type="text" class="form-control" id="cardholder-name">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> Card Number</label>
                                        <div id="card-element" class="form-control"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary btn-payment" id="card-button">Make Payment</button>
                            <button type="button" class="btn btn-secondary btn-payment-close" data-dismiss="modal" id="cancelCardSetup">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5 pb-5">
    <div class="container-fluid">


        <div class="row">
            <div class="col-lg-12">
                <h5 class="box-title">
                    Choose Your Plan and Get Started Today !
                </h5>
                <a href="@Url.Action("Plan", "Subscriptions")" class="nav-link btn btn-submit pull-right">Create Plan</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 pt-1">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="monthly-tab" data-toggle="tab" href="#monthly" role="tab" aria-controls="monthly" aria-selected="true">Monthly</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="annually-tab" data-toggle="tab" href="#annually" role="tab" aria-controls="profile" aria-selected="false">Annually</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="home-tab">
                        <table class="table tbl-plan mt-2">
                            <thead class="thead-dark">
                                <tr>
                                    @if (ViewBag.PlanList.Count > 0)
                                    {
                                        foreach (var item in ViewBag.PlanList)
                                        {
                                            if (item.Type == "month")
                                            {
                                                <th scope="col">@item.Name</th>
                                            }
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @if (ViewBag.PlanList.Count > 0)
                                    {
                                        foreach (var item in ViewBag.PlanList)
                                        {

                                            if (item.Type == "month")
                                            {
                                                <th>@item.PickLimit Products</th>
                                            }
                                        }
                                    }
                                </tr>
                                <tr>
                                    @if (ViewBag.PlanList.Count > 0)
                                    {
                                        foreach (var item in ViewBag.PlanList)
                                        {

                                            if (item.Type == "month")
                                            {
                                                <th>@item.Description</th>
                                            }
                                        }
                                    }
                                </tr>
                                <tr>
                                    @if (ViewBag.PlanList.Count > 0)
                                    {
                                        foreach (var item in ViewBag.PlanList)
                                        {

                                            if (item.Type == "month")
                                            {
                                                <th>Choose This Plan</th>
                                            }
                                        }
                                    }
                                </tr>
                                <tr>
                                    @if (ViewBag.PlanList.Count > 0)
                                    {
                                        foreach (var item in ViewBag.PlanList)
                                        {

                                            if (item.Type == "month")
                                            {
                                                <th><a href="@Url.Action("Index", "Subscriptions", new { PlandID = item.MembershipID})" class="nav-link btn btn-submit">Select Plan</a></th>
                                            }
                                        }
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="annually" role="tabpanel" aria-labelledby="annually-tab">
                        <table class="table tbl-plan mt-2">
                            <thead class="thead-dark">
                                <tr>
                                    @if (ViewBag.PlanList.Count > 0)
                                    {
                                        foreach (var item in ViewBag.PlanList)
                                        {
                                            if (item.Type == "annual")
                                            {
                                                <th scope="col">@item.Name</th>
                                            }
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @if (ViewBag.PlanList.Count > 0)
                                    {
                                        foreach (var item in ViewBag.PlanList)
                                        {

                                            if (item.Type == "annual")
                                            {
                                                <th>@item.PickLimit Products</th>
                                            }
                                        }
                                    }
                                </tr>
                                <tr>
                                    @if (ViewBag.PlanList.Count > 0)
                                    {
                                        foreach (var item in ViewBag.PlanList)
                                        {

                                            if (item.Type == "annual")
                                            {
                                                <th>@item.Description</th>
                                            }
                                        }
                                    }
                                </tr>
                                <tr>
                                    @if (ViewBag.PlanList.Count > 0)
                                    {
                                        foreach (var item in ViewBag.PlanList)
                                        {

                                            if (item.Type == "annual")
                                            {
                                                <th>Choose This Plan</th>
                                            }
                                        }
                                    }
                                </tr>
                                <tr>
                                    @if (ViewBag.PlanList.Count > 0)
                                    {
                                        foreach (var item in ViewBag.PlanList)
                                        {

                                            if (item.Type == "annual")
                                            {
                                                <th><a href="@Url.Action("Index", "Subscriptions", new { PlandID = item.MembershipID})" class="nav-link btn btn-submit">Select Plan</a></th>
                                            }
                                        }
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
